.header {
    margin: 30px 0;
}
::ng-deep .cal-day-view .cal-event {
    border: solid 1px;
    padding: 0;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 156%;
    margin-top: -28px;
    margin-left: 1px;
    width: 144px;
    box-sizing: border-box;
}

.data {
  background-color: green;
    padding: 3px;
    font-size: 10px;
    margin-top: -8px;
}
.dataEvent {
  background-color: #ffffff;
padding: 5px;
}
