<ng-template #loading>
    <div class="text-center">
        <i class="fa fa-spin fa-spinner fa-5x"></i>
        <br>
    Loading events...



  </div>
</ng-template>



<div *ngIf="events | async; else loading; let events">
    <div class="container">
        <div class="row header">
            <div class="col-md-12 text-center">
                <h3>Optimus View</h3>
            </div>
        </div>
        <div class="row text-center">

            <div class=" col-2 btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
                Previous
            </div>
            <div class=" col-8 ">
                <form class="form-inline" style="width:100%">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd"  name="dp" (ngModelChange)="selectDay($event)" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">Date</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class=" col-2 btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                Next
            </div>

        </div>
        <br>
        <div [ngSwitch]="view">
            <iq-calendar-week-hours-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [hourSegments]="4" [dayStartHour]="8" [eventTitleTemplate]="customCellTemplate" [weekStartsOn]="startDay" (eventClicked)="eventClicked($event)" (hourSegmentClicked)="hourSegmentClicked($event)"
              (eventTimesChanged)="eventTimesChanged($event)" [refresh]="refresh">
            </iq-calendar-week-hours-view>
            <ng-template #customCellTemplate let-event="event" let-locale="locale">
                <div class="data">
                    <div class="dataEvent">
                        <span>{{event.meta.film.from | date:'shortTime'}} - {{event.meta.film.to | date:'shortTime'}}</span> <br>
                        <span>{{event.meta.film.patientRecord.nameEnglish}}</span><br>
                        <span>{{event.meta.film.patientRecord.mobile}}</span>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>
